body {
  margin: 0;
  background-color:white;
  color:#111;
  font-family:'Courier new';
  font-size: 12px;
  font-weight: 400;
}

.visible {
  display: block;
}
.hidden{
  display: none;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.recipe{
  padding:2.5% 5%;margin-top:20px;border: 1px solid #9c27b080;border-radius:10px;box-shadow: -5px 5px 10px rgb(23 19 43 / 10%);
  height: fit-content;
}
.field {
  margin: 25px 0;
}
.secondary{color:#9c27b0;}
.dmode-light{color:white;}
.dmode-imp{color: whitesmoke;}
.dmode{color:#f5f5f5;}
.flexwrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
input.dmode {
  color: white !important;
}
.rtime{
  border: 1px solid #9c27b080;border-radius:10px;
  padding: 5px 10px;
}
p.styled {
  border-bottom: 1px solid #9c27b080;
  padding-bottom: 20px;
}
